<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage | Student Management</title>
    <script src="./assets/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./assets/angular/angular.min.js"></script>
    <script type="text/javascript" src="./assets/webcamjs/webcam.min.js"></script>
    <link rel="stylesheet" href="./assets/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./assets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/styles.css">
</head>
<body ng-app="app">
    <nav>
        <div class="container-fluid bg-primary d-flex justify-content-between align-items-center py-2 fixed-top">
            <a class="navbar-brand fs-4 text-light me-3 fw-bold">STUDENT MANAGEMENT</a>
            <div class="d-flex justify-content-end">
                <button type="button" class="btn bg-white me-2" data-bs-toggle="modal" data-bs-target=".studentModal">ADD STUDENT</button>
                <button type="button" class="btn bg-white me-2" data-bs-toggle="modal" data-bs-target=".userModal">ADD USER</button>
                <form action="/" method="GET">
                    <button type="submit" class="btn btn-dark">Logout</button>
                </form>
            </div>
        </div>
    </nav>
    <main>
        <!-- This section is for the user modal -->
        <section>
            <div class="userModal modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <form action="/user" method="POST">
                            <div class="modal-body m-3">
                                <div class="d-flex justify-content-center">
                                    <input class="form-control" type="text" name="username" placeholder="Username" required>
                                </div>
                                <div class="d-flex justify-content-center my-3">
                                    <input class="form-control" type="text" name="password" placeholder="Password" required>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-warning me-3">Register</button>
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- This section is for the student modal -->
        <section>
            <div class="studentModal modal modal-xl fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="d-flex justify-content-center">
                                        <div class="camera rounded bg-dark"></div>
                                    </div>
                                    <div class="d-flex justify-content-center mt-3">
                                        <button class="capture btn btn-dark">Capture</button>
                                        <button class="reset btn btn-dark mx-3">Retake</button>
                                        <button class="upload btn btn-dark">Upload</button>
                                        <button class="video btn btn-danger mx-3"><i class="bi bi-camera-video-off-fill"></i></button>
                                        <button class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                                <div class="col">
                                    <input class="lastname form-control mb-3" type="text" name="lastname" placeholder="Lastname" required>
                                    <input class="firstname form-control" type="text" name="firstname" placeholder="Firstname" required>
                                    <div class="d-flex justify-content-center my-3">
                                        <label for="course">Course</label>
                                        <select class="course form-select ms-3" name="course">
                                            <option value="BSIT">BSIT</option>
                                            <option value="BSAMT">BSAMT</option>
                                            <option value="BSCS">BSCS</option>
                                            <option value="BSED">BSED</option>
                                        </select>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <label for="level">Year</label>
                                        <select class="level form-select ms-3" name="level">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- This section is for the UPDATE USER modal -->
        <section>
            <div class="updateUserModal modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content" ng-controller="updateUser">
                        <div class="modal-body m-3">
                            <div class="d-flex justify-content-center">
                                <input class="form-control" type="text" name="username" ng-model="username" placeholder="Username" disabled>
                            </div>
                            <div class="d-flex justify-content-center my-3">
                                <input class="form-control" type="text" name="password" ng-model="password" placeholder="Password">
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-warning me-3" ng-click="updateUser()">Update</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- This section is for the UPDATE STUDENT modal -->
        <section>
            <div class="updateStudentModal modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content" ng-controller="updateStudent">
                        <div class="modal-body">
                            <div class="d-flex justify-content-center">
                                <img class="rounded img-fluid" src="{{ image }}" alt="">
                            </div>
                            <div class="d-flex justify-content-center my-3">
                                <input class="form-control" type="text" name="lastname" ng-model="lastname" placeholder="Lastname">
                            </div>
                            <div class="d-flex justify-content-center">
                                <input class="form-control" type="text" name="firstname" ng-model="firstname" placeholder="Firstname">
                            </div>
                            <div class="d-flex justify-content-center align-items-center my-3">
                                <label for="course">Course</label>
                                <select class="ms-3 form-select" ng-model="selectedCourse" ng-options="studentCourse for studentCourse in courses" id="course"></select>
                            </div>
                            <div class="d-flex justify-content-center align-items-center">
                                <label for="level">Year</label>
                                <select class="ms-3 form-select" ng-model="selectedLevel" ng-options="studentLevel for studentLevel in levels" id="level"></select>
                            </div>
                            <div class="d-flex justify-content-center mt-3">
                                <button type="submit" class="btn btn-warning me-3" ng-click="updateStudent()">Update</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- This section is for the DELETE CONFIRMATION -->
        <section>
            <div class="removeConfirmation modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body d-flex justify-content-center align-items-center">
                            <span>Delete this record?</span>
                            <button class="yesBtn btn btn-white shadow mx-3">Yes</button>
                            <button class="btn btn-white shadow" data-bs-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- This section displays the list of students -->
        <section class="mt-5" ng-controller="studentList">
            <div ng-style="setDisplay">
                <table class="table table-striped text-center shadow">
                    <caption>STUDENTS TABLE</caption>
                    <thead>
                        <tr class="table-dark">
                            <th ng-repeat="h in header">{{ h | uppercase }}</th>
                        </tr>
                    <tbody>
                        <tr ng-repeat="student in students">
                            <td>{{ student.lastname }}</td>
                            <td>{{ student.firstname }}</td>
                            <td>{{ student.course }}</td>
                            <td>{{ student.level }}</td>
                            <td>
                                <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target=".updateStudentModal" ng-click="updateStudent(student.idno,student.lastname,student.firstname,student.imagepath)"><i class="bi bi-pencil-square"></i></button>
                                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target=".removeConfirmation" ng-click="remove(student.idno)">&times;</button>
                            </td>
                        </tr>
                    </tbody>
                    </thead>
                </table>
            </div>
        </section>
        
        <!-- This section displays the list of users -->
        <section class="mt-5" ng-controller="userList">
            <div ng-style="setDisplay">
                <table class="table table-striped text-center shadow">
                    <caption>USERS TABLE</caption>
                    <thead>
                        <tr class="table-dark">
                            <th ng-repeat="h in header">{{ h | uppercase }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users">
                            <td>{{ user.username }}</td>
                            <td>{{ user.password }}</td>
                            <td>
                                <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target=".updateUserModal" ng-click="updateUser(user.username,user.id)"><i class="bi bi-pencil-square"></i></button>
                                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target=".removeConfirmation" ng-click="remove(user.id)">&times;</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
</body>
<script src="./assets/js/main.js"></script>
</html>